{% load static %}
{% static "images" as baseUrl %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset | Password</title>
        <link rel="icon" type="image/png" sizes="16x16" href="https://raw.githubusercontent.com/Android-Club-VITAP/BEAT-THE-HEAT/main/img/Img/favicon_io/favicon.ico">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/login_reg/regcss.css' %}">
    <style>
        .fp p {
            font-size: 22px;
            text-transform: lowercase;
            font-weight: 800;
        }
    </style>

</head>

<body>

    <div class="neo">
        <div class="login">
            <div class="logo">
                <img src="https://github.com/Android-Club-VITAP/BEAT-THE-HEAT/raw/main/logo.jpeg" alt="logo">
            </div>

            <div id="text-about">DANCE CLUB VITAP</div>
            <form class="forms" method="POST">
                {% csrf_token %}
                <div class="inputsfileds">
                    <div class="username">
                        <div>
                            <svg class="svg-icon" viewBox="0 0 20 20">
                                <path
                                    d="M12.075,10.812c1.358-0.853,2.242-2.507,2.242-4.037c0-2.181-1.795-4.618-4.198-4.618S5.921,4.594,5.921,6.775c0,1.53,0.884,3.185,2.242,4.037c-3.222,0.865-5.6,3.807-5.6,7.298c0,0.23,0.189,0.42,0.42,0.42h14.273c0.23,0,0.42-0.189,0.42-0.42C17.676,14.619,15.297,11.677,12.075,10.812 M6.761,6.775c0-2.162,1.773-3.778,3.358-3.778s3.359,1.616,3.359,3.778c0,2.162-1.774,3.778-3.359,3.778S6.761,8.937,6.761,6.775 M3.415,17.69c0.218-3.51,3.142-6.297,6.704-6.297c3.562,0,6.486,2.787,6.705,6.297H3.415z">
                                </path>
                            </svg>
                        </div>
                        <div class="jsut">
                            <input type="text" required id="name" placeholder="username" name="uname"
                                autocomplete="off">
                        </div>
                    </div>
                    <div class="password">
                        <div>
                            <svg class="svg-icon" viewBox="0 0 20 20">
                                <svg class="svg-icon" viewBox="0 0 20 20">
                                    <path
                                        d="M17.388,4.751H2.613c-0.213,0-0.389,0.175-0.389,0.389v9.72c0,0.216,0.175,0.389,0.389,0.389h14.775c0.214,0,0.389-0.173,0.389-0.389v-9.72C17.776,4.926,17.602,4.751,17.388,4.751 M16.448,5.53L10,11.984L3.552,5.53H16.448zM3.002,6.081l3.921,3.925l-3.921,3.925V6.081z M3.56,14.471l3.914-3.916l2.253,2.253c0.153,0.153,0.395,0.153,0.548,0l2.253-2.253l3.913,3.916H3.56z M16.999,13.931l-3.921-3.925l3.921-3.925V13.931z">
                                    </path>
                                </svg>
                            </svg>
                        </div>
                        <div class="jsut">
                            <input type="email" required placeholder="email" name="email" autocomplete="off">
                        </div>
                    </div>
                </div>
                <div>
                    <button type="submit">RESET</button>
                </div>

            </form>
            <div class="fp">
                <a href="#"> Forgot password</a> or <a href="/account/reg/"> sign up</a>
                {% for message in messages %}
                <p>{{message}}</p>
                {% endfor %}
            </div>
        </div>

    </div>

</body>

</html>